<div id="homepage">
  <div id="brand">
    <h1>Monster Hunter Events</h1>
  </div>
  <div class="spacing">
    <h2>Welcome Hunter!</h2>
    <h3>This website allow you to schedule or join hunting events in order to play with people who wants to play together with mutual objectif</h2>
  </div>
  <div><%= link_to "Hunting Hall", hunt_path, class: "button-large" %></div>
</div>

